.item {
    background-color: cyan;
    height: 25px;
}

.tree {
    background-color: crimson;
    overflow: hidden;
    height: 20px;
}

.tree:hover {
    height: unset;
}

.treeButton {
    width: 25px;
    height: 25px;
    float: left;
    background: red;
    text-align: center;
}

.indent {
    height: 25px;
    float: left;
}